<!--this should be after displaing the card and having the option btn above-->
<div id="card1" class="card">
    <div class="card-header">Create Post</div>
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      
      <textarea id="text1">
        Type message...
      </textarea>
      <br>
     <!--here submit btn--> 
     <!-- <input class="btn btn-primary" type="submit" value="Post"> -->
     <div> 
      <a routerLink='/display-card' routerLinkActive='active' class="btn btn-primary">Create Post</a>
    </div>
    </div>
  </div>