<div>
    <accordion [isAnimated]="true">
        <accordion-group heading="Mental Illnesses">
            <li class="list-group-item list-group-item-action" style="cursor: pointer;" routerLink='/display-post' routerLinkActive='active'>
                <a class="post-link">Depression</a>
            </li>
            <li class="list-group-item list-group-item-action" style="cursor: pointer;" routerLink='/display-post' routerLinkActive='active'>
                <a class="post-link">Anxiety</a>
            </li>
            <li class="list-group-item list-group-item-action" style="cursor: pointer;" routerLink='/display-post' routerLinkActive='active'>
                <a class="post-link">Bipolar Disorder</a>
            </li>
            <li class="list-group-item list-group-item-action" style="cursor: pointer;" routerLink='/display-post' routerLinkActive='active'>
                <a class="post-link">Schizophrenia</a>
            </li>
            <li class="list-group-item list-group-item-action" style="cursor: pointer;" routerLink='/display-post' routerLinkActive='active'>
                <a class="post-link">Borderline Personality Disorder</a>
            </li>
        </accordion-group>

        <accordion-group heading="Diagnosis">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="Addiction">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="Eating Disorders">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="Life Experience">
            <p>Some content</p>
          </accordion-group>
        <accordion-group heading="Counseling">
            <p>Some content</p>
          </accordion-group>
        <accordion-group heading="Personality">
            <p>Some content</p>
          </accordion-group>
        <accordion-group heading="Psychosis">
            <p>Some content</p>
          </accordion-group>
          <accordion-group heading="Therapy">
            <p>Some content</p>
          </accordion-group>
          <accordion-group heading="Topic x">
            <p>Some content</p>
          </accordion-group>

      </accordion>
    </div>