<div id="div-side">
    <p id="C1">&nbsp;&nbsp;&nbsp;Categories</p>
    <div id="topic-link">
        <!--            
                <li class="nav-item" 
                  routerLink='/messages' routerLinkActive='active'>
                  <a class="nav-link">Notifications</a>
                </li>-->
        <li class="list-group-item list-group-item-action" routerLink='/display-post' routerLinkActive='active'>
            <a class="post-link">Topic 1</a>
        </li>
        <br>
        <li class="list-group-item list-group-item-action" routerLink='/display-post' routerLinkActive='active'>
            <a class="post-link">Topic 2</a>
        </li>
        <br>
        <li class="list-group-item list-group-item-action" routerLink='/display-post' routerLinkActive='active'>
            <a class="post-link">Topic 3</a>
        </li>
        <br>
        <li class="list-group-item list-group-item-action" routerLink='/display-post' routerLinkActive='active'>
            <a class="post-link">Topic 4</a>
        </li>
        <br>
        <li class="list-group-item list-group-item-action" routerLink='/display-post' routerLinkActive='active'>
            <a class="post-link">Topic 5</a>
        </li>
        <br>
        <li class="list-group-item list-group-item-action" routerLink='/display-post' routerLinkActive='active'>
            <a class="post-link">Topic 6</a>
        </li>
        <br>
        <li class="list-group-item list-group-item-action" routerLink='/display-post' routerLinkActive='active'>
            <a class="post-link">Topic 7</a>
        </li>
        <br>
        <li class="list-group-item list-group-item-action" routerLink='/display-post' routerLinkActive='active'>
            <a class="post-link">Topic 8</a>
        </li>
    </div>