<div class="container mt-5 mr-3 sidenav">
<app-lists></app-lists>
</div>

<div class="container main">
  <div> 
    <a routerLink='/post' routerLinkActive='active' class="btn btn-primary">Create Post</a>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title 1</h5>
            <p class="card-text">here additional content</p>
            <a href="#" class="btn btn-primary">read more...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title 2</h5>
            <p class="card-text">here additional content</p>
            <a href="#" class="btn btn-primary">read more...</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title 3</h5>
            <p class="card-text">here additional content</p>
            <a href="#" class="btn btn-primary">read more...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title 4</h5>
            <p class="card-text">here additional content</p>
            <a href="#" class="btn btn-primary">read more...</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title 5</h5>
            <p class="card-text">here additional content</p>
            <a href="#" class="btn btn-primary">read more...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title 6</h5>
            <p class="card-text">here additional content</p>
            <a href="#" class="btn btn-primary">read more...</a>
          </div>
        </div>
      </div>
    </div>
</div>