<div id="card1" class="card">
    <div>
      
      <h4 id="display-title" class="media-heading" >Title</h4>
  
      <p class="text-right" id="display-name">By {{member.knownAs}}Creator Name</p>
  
      
    </div>
     
    <div class="card-body" id="body-text">
      
      <p>
          [Body text goes here.]
      </p>
      <br>
  
    </div>
  
    <div>
      <ul>
       
          <span id="span1"><i class="fa fa-facebook-square"></i></span>
          <span id="span2"><i class="fa fa-twitter-square"></i></span>
          <span id="span3"><i class="fa fa-google-plus-square"></i></span>
  
          
      </ul>
    
     <!--here submit btn--> 
     <!-- <input class="btn btn-primary" type="submit" value="Post"> -->
      <div>
  
      <a id='replybtn' routerLink='/create-reply-card' routerLinkActive='active' class="btn btn-primary pull-left">Reply</a>
      
      </div>
     
    </div>
    </div>